
/* *************************** */
/* ** REGOLE GENERALI CSS ** */
/* *********************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ******************** */
/* ** REGOLE HEADER ** */
/* ****************** */

header a {
  color: grey;
}

header a:hover {
  color: black;
}

  /* ** Header Grigio ** */

#header-grey {
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  line-height: 50px;
  padding-left: 5%;
  padding-right: 5%;
}

#header-grey ul li {
  padding: 10px;
  display: inline-block;
}

  /* ** Navbar ** */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 35px;
}

.flex-links > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-links > ul li {
  padding: 0 20px;
}

.logo {
  display: flex;
  width: 10%;
  padding: 10px;
}

.button {
  display: inline-block;
  padding: 14px 18px;
  border-radius: 15px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}


  /*  ** Dropdown ** */

  .dropdown {
    position: relative;
  }

  .drop-list {
    display: none;
    position:absolute;
    padding:10px;
    border-radius: 10px;
    background-color: white;
  }

  .dropdown li{
    list-style: none;
    line-height: 30px;
  }
